Body{
    width:960px;
    background-color: linen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color:teal;
    color: black;
    width:960px;
    height: 60px;
    margin: 30px auto 30px auto;
    padding: 5px;
    text-align: center;
    font-size: auto;
}
.header :{
    background-color:teal;
    color: black;
    display: inline-block;
    margin: 20px auto 20px auto;
}
header::after {
    content: "";
    display:table;
    clear: both;
}
nav {
    float: right;
    display: inline-block
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block
    margin-left: 70px;
    padding: 25px
}
.section {
    width: 960px;
    
}

.footer {
    width:960px;
    height:30px;
    padding: 0px;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 300px auto 150px auto;

}

    








   